# Pandas Series

In [99]:
# using Pkg
# Pkg.add("DataFrames")  # Install the DataFrames package if you haven't already

In [100]:
using DataFrames                         #  import pandas as pd
series = DataFrame(A = [1, 2, 3, 4, 5])  # series = pd.Series([1,2,3,4,5])
print(series)

5×1 DataFrame
 Row │ A
     │ Int64
─────┼───────
   1 │     1
   2 │     2
   3 │     3
   4 │     4
   5 │     5

## Creating a Series Using a Specified Index

In [13]:
# series = pd.Series([1,2,3,4,5], index=['a','b','c','d','c'])  # note the duplicate index 'c'

series = DataFrame(Value = [1, 2, 3, 4, 5], Index = ['a', 'b', 'c', 'd', 'c']) # note the duplicate index 'c'
print(series)

5×2 DataFrame
 Row │ Value  Index
     │ Int64  Char
─────┼──────────────
   1 │     1  a
   2 │     2  b
   3 │     3  c
   4 │     4  d
   5 │     5  c

## Accessing Elements in a Series

In [17]:
# print(series[2])          # 3
# same as
# print(series.iloc[2])     # 3  - based on the position of the index

# Accessing the third element (1-based indexing in Julia)
println(series[3, :Value])  # 3
# same as
print(series.Value[3])      # 3  - based on the position of the index

3
3

In [29]:
# print(series['d'])        # 4
println(filter(row -> row[:Index] == 'd', series))
# same as
# print(series.loc['d'])    # 4 - based on the label in the index
println(series[series.Index .== 'd', :Value])

1×2 DataFrame
 Row │ Value  Index
     │ Int64  Char
─────┼──────────────
   1 │     4  d
[4]

In [30]:
# print(series['c'])        # more than 1 row has the index 'c'
println(filter(row -> row[:Index] == 'c', series))

2×2 DataFrame
 Row │ Value  Index
     │ Int64  Char
─────┼──────────────
   1 │     3  c
   2 │     5  c

In [32]:
# print(series[2:])         # returns a Series
# print(series.iloc[2:])    # returns a Series

# Here's how to replicate both series[2:] and series.iloc[2:] in Julia, 
# assuming you're working with a DataFrame that mimics a Series:

print(series[3:end, :])   # returns a Series

3×2 DataFrame
 Row │ Value  Index
     │ Int64  Char
─────┼──────────────
   1 │     3  c
   2 │     4  d
   3 │     5  c

## Specifying a Datetime Range as the Index of a Series

In [35]:
using Dates

In [36]:
# dates1 = pd.date_range('20190525', periods=12)
# print(dates1)

# Start date
start_date = Date(2019, 05, 25)

# Create a range of dates
dates1 = start_date:Day(1):(start_date + Day(11))  # 12 days including the start date

# Print the dates
foreach(println, dates1)

2019-05-25
2019-05-26
2019-05-27
2019-05-28
2019-05-29
2019-05-30
2019-05-31
2019-06-01
2019-06-02
2019-06-03
2019-06-04
2019-06-05

In [37]:
# series = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12])
# series.index = dates1

series = DataFrame(Date=collect(dates1), Value=[1,2,3,4,5,6,7,8,9,10,11,12])
print(series)

12×2 DataFrame
 Row │ Date        Value
     │ Date        Int64
─────┼───────────────────
   1 │ 2019-05-25      1
   2 │ 2019-05-26      2
   3 │ 2019-05-27      3
   4 │ 2019-05-28      4
   5 │ 2019-05-29      5
   6 │ 2019-05-30      6
   7 │ 2019-05-31      7
   8 │ 2019-06-01      8
   9 │ 2019-06-02      9
  10 │ 2019-06-03     10
  11 │ 2019-06-04     11
  12 │ 2019-06-05     12

## Date Ranges

In [59]:
# dates2 = pd.date_range('2019-05-01', periods=12, freq='M')
# print(dates2)
dates2 = [lastdayofmonth(date) for date in 
            [Date(2019, 05, 01) + Month(i) for i in 0:11]
    ]
foreach(println, dates2)

2019-05-31
2019-06-30
2019-07-31
2019-08-31
2019-09-30
2019-10-31
2019-11-30
2019-12-31
2020-01-31
2020-02-29
2020-03-31
2020-04-30

In [62]:
# dates2 = pd.date_range('2019-05-01', periods=12, freq='MS')
# print(dates2)
dates2 = [Date(2019, 05, 01) + Month(i) for i in 0:11]
foreach(println, dates2)

2019-05-01
2019-06-01
2019-07-01
2019-08-01
2019-09-01
2019-10-01
2019-11-01
2019-12-01
2020-01-01
2020-02-01
2020-03-01
2020-04-01

In [58]:
# dates2 = pd.date_range('05-01-2019', periods=12, freq='MS')
# print(dates2)      
dates2 = [Date("05-01-2019", "mm-dd-yyyy") + Month(i) for i in 0:11]
foreach(println, dates2)

2019-05-01
2019-06-01
2019-07-01
2019-08-01
2019-09-01
2019-10-01
2019-11-01
2019-12-01
2020-01-01
2020-02-01
2020-03-01
2020-04-01

In [63]:
# dates3 = pd.date_range('2019/05/17 09:00:00', periods=8, freq='H')
# print(dates3)
dates3 = [DateTime(2019, 05, 17, 09, 00, 00) + Hour(i) for i in 0:7]
foreach(println, dates3)

2019-05-17T09:00:00
2019-05-17T10:00:00
2019-05-17T11:00:00
2019-05-17T12:00:00
2019-05-17T13:00:00
2019-05-17T14:00:00
2019-05-17T15:00:00
2019-05-17T16:00:00

# Pandas DataFrame

In [65]:
using Random

In [66]:
# import pandas as pd
# import numpy as np

# df = pd.DataFrame(np.random.randn(10,4),
                  # columns=list('ABCD'))
# print(df)

# Create a DataFrame with random numbers and specified column names
df = DataFrame(randn(10, 4), :auto)
rename!(df, [:A, :B, :C, :D])

# Print the DataFrame
println(df)

10×4 DataFrame
 Row │ A          B          C          D
     │ Float64    Float64    Float64    Float64
─────┼──────────────────────────────────────────────
   1 │ -0.110226   0.493484   1.01082   -1.6779
   2 │  0.84333    0.196549   0.514412  -0.832789
   3 │  1.14813   -0.824376   0.140546  -1.38926
   4 │ -0.313033  -0.109109  -0.226131  -0.00302539
   5 │  1.32351   -0.380801  -0.30132    0.19167
   6 │  0.492546  -0.512437   0.043593   0.225091
   7 │  0.814076   0.838872  -1.05426    1.0918
   8 │  0.731738  -0.247107  -1.01485   -1.49803
   9 │ -2.22421    0.241925  -1.3615    -1.24107
  10 │ -1.37047    1.15876   -0.846439  -0.671944

## Specifying the Index in a DataFrame

In [68]:
using CSV

In [69]:
# df = pd.read_csv('data.csv')                   # load dataframe from CSV file
# days = pd.date_range('20190525', periods=10)
# df.index = days
# print(df)

df = CSV.read("data.csv", DataFrame)          # load dataframe from CSV file
start_date = Date(2019, 05, 25)
days = start_date:Day(1):start_date + Day(9)  # 10 days starting from May 25, 2019
df[!, :Date] = days
println(df)

10×5 DataFrame
 Row │ A          B          C          D          Date
     │ Float64    Float64    Float64    Float64    Date
─────┼────────────────────────────────────────────────────────
   1 │  0.187497   1.12215   -0.988277  -1.98593   2019-05-25
   2 │  0.360803  -0.562243  -0.340693  -0.986988  2019-05-26
   3 │ -0.040627   0.067333  -0.452978   0.686223  2019-05-27
   4 │ -0.279572  -0.702492   0.252265   0.958977  2019-05-28
   5 │  0.537438  -1.73757    0.714727  -0.939288  2019-05-29
   6 │  0.070011  -0.516443  -1.65569    0.246721  2019-05-30
   7 │  0.001268   0.951517   2.10736   -0.108726  2019-05-31
   8 │ -0.185258   0.85652   -0.686285   1.1042    2019-06-01
   9 │  0.387023   1.70634   -2.45265    0.260466  2019-06-02
  10 │ -1.05497    0.556775  -0.945219  -0.030295  2019-06-03

In [77]:
# print(df.index)
println(df.Date)

[Date("2019-05-25"), Date("2019-05-26"), Date("2019-05-27"), Date("2019-05-28"), Date("2019-05-29"), Date("2019-05-30"), Date("2019-05-31"), Date("2019-06-01"), Date("2019-06-02"), Date("2019-06-03")]

In [85]:
# print(df.values)
println(df[!, :] )

10×5 DataFrame
 Row │ A          B          C          D          Date
     │ Float64    Float64    Float64    Float64    Date
─────┼────────────────────────────────────────────────────────
   1 │  0.187497   1.12215   -0.988277  -1.98593   2019-05-25
   2 │  0.360803  -0.562243  -0.340693  -0.986988  2019-05-26
   3 │ -0.040627   0.067333  -0.452978   0.686223  2019-05-27
   4 │ -0.279572  -0.702492   0.252265   0.958977  2019-05-28
   5 │  0.537438  -1.73757    0.714727  -0.939288  2019-05-29
   6 │  0.070011  -0.516443  -1.65569    0.246721  2019-05-30
   7 │  0.001268   0.951517   2.10736   -0.108726  2019-05-31
   8 │ -0.185258   0.85652   -0.686285   1.1042    2019-06-01
   9 │  0.387023   1.70634   -2.45265    0.260466  2019-06-02
  10 │ -1.05497    0.556775  -0.945219  -0.030295  2019-06-03

In [87]:
using Statistics

In [90]:
# print(df.describe())

describe(df)

5×7 DataFrame
 Row │ variable  mean        min         median     max         nmissing  elty ⋯
     │ Symbol    Union…      Any         Union…     Any         Int64     Data ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ A         -0.0016391  -1.05497    0.0356395  0.537438           0  Floa ⋯
   2 │ B         0.174188    -1.73757    0.312054   1.70634            0  Floa
   3 │ C         -0.444744   -2.45265    -0.569632  2.10736            0  Floa
   4 │ D         -0.0794649  -1.98593    0.108213   1.1042             0  Floa
   5 │ Date                  2019-05-25             2019-06-03         0  Date ⋯
                                                                1 column omitted

In [91]:
describe(df, :all)

5×16 DataFrame
 Row │ variable  mean        std       min         q25        median     q75   ⋯
     │ Symbol    Union…      Union…    Any         Union…     Union…     Union ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ A         -0.0016391  0.451656  -1.05497    -0.1491    0.0356395  0.317 ⋯
   2 │ B         0.174188    1.04968   -1.73757    -0.550793  0.312054   0.927
   3 │ C         -0.444744   1.2674    -2.45265    -0.977513  -0.569632  0.104
   4 │ D         -0.0794649  0.971164  -1.98593    -0.731648  0.108213   0.579
   5 │ Date                            2019-05-25                              ⋯
                                                              10 columns omitted

In [96]:
# print(df.mean(0))    # 0 means compute the mean for each columns
means = mapcols(mean, select(df, names(df, Number)))  # Compute mean for each numeric column, skipping missing values

println(means)

1×4 DataFrame
 Row │ A           B         C          D
     │ Float64     Float64   Float64    Float64
─────┼─────────────────────────────────────────────
   1 │ -0.0016391  0.174188  -0.444744  -0.0794649

In [98]:
# print(df.mean(1))   # 1 means compute the mean for each row
println(mean.(eachrow(select(df, names(df, Number)))))

[-0.416141, -0.38228025, 0.06498775000000001, 0.05729449999999997, -0.35617275000000004, -0.46385, 0.73785475, 0.272293, -0.024707000000000062, -0.36842825]

## Extracting from DataFrames

### Selecting the First and Last Five Rows

In [20]:
print(df.head())

                   A         B         C         D
2019-05-25  0.187497  1.122150 -0.988277 -1.985934
2019-05-26  0.360803 -0.562243 -0.340693 -0.986988
2019-05-27 -0.040627  0.067333 -0.452978  0.686223
2019-05-28 -0.279572 -0.702492  0.252265  0.958977
2019-05-29  0.537438 -1.737568  0.714727 -0.939288

In [21]:
print(df.head(8))     # prints out the first 8 rows

                   A         B         C         D
2019-05-25  0.187497  1.122150 -0.988277 -1.985934
2019-05-26  0.360803 -0.562243 -0.340693 -0.986988
2019-05-27 -0.040627  0.067333 -0.452978  0.686223
2019-05-28 -0.279572 -0.702492  0.252265  0.958977
2019-05-29  0.537438 -1.737568  0.714727 -0.939288
2019-05-30  0.070011 -0.516443 -1.655689  0.246721
2019-05-31  0.001268  0.951517  2.107360 -0.108726
2019-06-01 -0.185258  0.856520 -0.686285  1.104195

In [22]:
print(df.tail())

                   A         B         C         D
2019-05-30  0.070011 -0.516443 -1.655689  0.246721
2019-05-31  0.001268  0.951517  2.107360 -0.108726
2019-06-01 -0.185258  0.856520 -0.686285  1.104195
2019-06-02  0.387023  1.706336 -2.452653  0.260466
2019-06-03 -1.054974  0.556775 -0.945219 -0.030295

In [23]:
print(df.tail(8))     # prints out the last 8 rows

                   A         B         C         D
2019-05-27 -0.040627  0.067333 -0.452978  0.686223
2019-05-28 -0.279572 -0.702492  0.252265  0.958977
2019-05-29  0.537438 -1.737568  0.714727 -0.939288
2019-05-30  0.070011 -0.516443 -1.655689  0.246721
2019-05-31  0.001268  0.951517  2.107360 -0.108726
2019-06-01 -0.185258  0.856520 -0.686285  1.104195
2019-06-02  0.387023  1.706336 -2.452653  0.260466
2019-06-03 -1.054974  0.556775 -0.945219 -0.030295

### Selecting a Specific Column in a DataFrame

In [24]:
print(df['A'])
# same as
print(df.A)

2019-05-25    0.187497
2019-05-26    0.360803
2019-05-27   -0.040627
2019-05-28   -0.279572
2019-05-29    0.537438
2019-05-30    0.070011
2019-05-31    0.001268
2019-06-01   -0.185258
2019-06-02    0.387023
2019-06-03   -1.054974
Freq: D, Name: A, dtype: float64
2019-05-25    0.187497
2019-05-26    0.360803
2019-05-27   -0.040627
2019-05-28   -0.279572
2019-05-29    0.537438
2019-05-30    0.070011
2019-05-31    0.001268
2019-06-01   -0.185258
2019-06-02    0.387023
2019-06-03   -1.054974
Freq: D, Name: A, dtype: float64

In [25]:
print(df[['A', 'B']])

                   A         B
2019-05-25  0.187497  1.122150
2019-05-26  0.360803 -0.562243
2019-05-27 -0.040627  0.067333
2019-05-28 -0.279572 -0.702492
2019-05-29  0.537438 -1.737568
2019-05-30  0.070011 -0.516443
2019-05-31  0.001268  0.951517
2019-06-01 -0.185258  0.856520
2019-06-02  0.387023  1.706336
2019-06-03 -1.054974  0.556775

### Slicing Based on Row Number

In [26]:
print(df[2:4])

                   A         B         C         D
2019-05-27 -0.040627  0.067333 -0.452978  0.686223
2019-05-28 -0.279572 -0.702492  0.252265  0.958977

In [27]:
print(df.iloc[2:4])      # 2 rows

                   A         B         C         D
2019-05-27 -0.040627  0.067333 -0.452978  0.686223
2019-05-28 -0.279572 -0.702492  0.252265  0.958977

In [28]:
print(df.iloc[2:5])      # 3 rows

                   A         B         C         D
2019-05-27 -0.040627  0.067333 -0.452978  0.686223
2019-05-28 -0.279572 -0.702492  0.252265  0.958977
2019-05-29  0.537438 -1.737568  0.714727 -0.939288

In [29]:
print(df.iloc[[2,4]])    # 2 rows

                   A         B         C         D
2019-05-27 -0.040627  0.067333 -0.452978  0.686223
2019-05-29  0.537438 -1.737568  0.714727 -0.939288

In [30]:
# print(df[[2,4]])   # error; need to use the iloc indexer
print(df.iloc[2])    # prints out row number 2

A   -0.040627
B    0.067333
C   -0.452978
D    0.686223
Name: 2019-05-27 00:00:00, dtype: float64

### Slicing Based on Row and Column Numbers

In [31]:
print(df.iloc[2:4, 1:4])        # 2 rows, 3 columns

                   B         C         D
2019-05-27  0.067333 -0.452978  0.686223
2019-05-28 -0.702492  0.252265  0.958977

In [32]:
print(df.iloc[[2,4], [1,3]])    # 2 rows, 2 columns

                   B         D
2019-05-27  0.067333  0.686223
2019-05-29 -1.737568 -0.939288

### Slicing Based on Labels

In [33]:
print(df['20190601':'20190603'])

                   A         B         C         D
2019-06-01 -0.185258  0.856520 -0.686285  1.104195
2019-06-02  0.387023  1.706336 -2.452653  0.260466
2019-06-03 -1.054974  0.556775 -0.945219 -0.030295

In [34]:
print(df.loc['20190601':'20190603'])

                   A         B         C         D
2019-06-01 -0.185258  0.856520 -0.686285  1.104195
2019-06-02  0.387023  1.706336 -2.452653  0.260466
2019-06-03 -1.054974  0.556775 -0.945219 -0.030295

In [35]:
print(df.loc['20190601':'20190603', 'A':'C'])

                   A         B         C
2019-06-01 -0.185258  0.856520 -0.686285
2019-06-02  0.387023  1.706336 -2.452653
2019-06-03 -1.054974  0.556775 -0.945219

In [36]:
print(df.loc['20190601':'20190603', ['A','C']])

                   A         C
2019-06-01 -0.185258 -0.686285
2019-06-02  0.387023 -2.452653
2019-06-03 -1.054974 -0.945219

In [37]:
print(df.loc['20190601'])

A   -0.185258
B    0.856520
C   -0.686285
D    1.104195
Name: 2019-06-01 00:00:00, dtype: float64

In [38]:
# print(df.loc[['20190601','20190603']])   # KeyError

In [39]:
from datetime import datetime
date1 = datetime(2019, 6, 1, 0, 0, 0)
date2 = datetime(2019, 6, 3, 0, 0, 0)
print(df.loc[[date1,date2]])

                   A         B         C         D
2019-06-01 -0.185258  0.856520 -0.686285  1.104195
2019-06-03 -1.054974  0.556775 -0.945219 -0.030295

In [40]:
print(df.loc[date1, ['A','C']])

A   -0.185258
C   -0.686285
Name: 2019-06-01 00:00:00, dtype: float64

## Selecting a Single Cell in a DataFrame

In [41]:
from datetime import datetime
d = datetime(2019, 6, 3, 0, 0, 0)
print(df.at[d,'B'])

0.556775

## Selecting Based on Cell Value

In [42]:
print(df[(df.A > 0) & (df.B>0)])

                   A         B         C         D
2019-05-25  0.187497  1.122150 -0.988277 -1.985934
2019-05-31  0.001268  0.951517  2.107360 -0.108726
2019-06-02  0.387023  1.706336 -2.452653  0.260466

## Transforming DataFrames

In [43]:
print(df.transpose())

   2019-05-25  2019-05-26  2019-05-27  2019-05-28  2019-05-29  2019-05-30  \
A    0.187497    0.360803   -0.040627   -0.279572    0.537438    0.070011
B    1.122150   -0.562243    0.067333   -0.702492   -1.737568   -0.516443
C   -0.988277   -0.340693   -0.452978    0.252265    0.714727   -1.655689
D   -1.985934   -0.986988    0.686223    0.958977   -0.939288    0.246721

   2019-05-31  2019-06-01  2019-06-02  2019-06-03
A    0.001268   -0.185258    0.387023   -1.054974
B    0.951517    0.856520    1.706336    0.556775
C    2.107360   -0.686285   -2.452653   -0.945219
D   -0.108726    1.104195    0.260466   -0.030295

In [44]:
print(df.T)

   2019-05-25  2019-05-26  2019-05-27  2019-05-28  2019-05-29  2019-05-30  \
A    0.187497    0.360803   -0.040627   -0.279572    0.537438    0.070011
B    1.122150   -0.562243    0.067333   -0.702492   -1.737568   -0.516443
C   -0.988277   -0.340693   -0.452978    0.252265    0.714727   -1.655689
D   -1.985934   -0.986988    0.686223    0.958977   -0.939288    0.246721

   2019-05-31  2019-06-01  2019-06-02  2019-06-03
A    0.001268   -0.185258    0.387023   -1.054974
B    0.951517    0.856520    1.706336    0.556775
C    2.107360   -0.686285   -2.452653   -0.945219
D   -0.108726    1.104195    0.260466   -0.030295

In [45]:
def checkSeriesOrDataframe(var):
    if isinstance(var, pd.DataFrame):
        return 'Dataframe'
    if isinstance(var, pd.Series):
        return 'Series'

## Sorting Data in a DataFrame

### Sorting by Index

In [46]:
print(df.sort_index(axis=0, ascending=False))  # axis = 0 means sort by
                                               # index

                   A         B         C         D
2019-06-03 -1.054974  0.556775 -0.945219 -0.030295
2019-06-02  0.387023  1.706336 -2.452653  0.260466
2019-06-01 -0.185258  0.856520 -0.686285  1.104195
2019-05-31  0.001268  0.951517  2.107360 -0.108726
2019-05-30  0.070011 -0.516443 -1.655689  0.246721
2019-05-29  0.537438 -1.737568  0.714727 -0.939288
2019-05-28 -0.279572 -0.702492  0.252265  0.958977
2019-05-27 -0.040627  0.067333 -0.452978  0.686223
2019-05-26  0.360803 -0.562243 -0.340693 -0.986988
2019-05-25  0.187497  1.122150 -0.988277 -1.985934

In [47]:
print(df.sort_index(axis=1, ascending=False))  # axis = 1 means sort by
                                               # column

                   D         C         B         A
2019-05-25 -1.985934 -0.988277  1.122150  0.187497
2019-05-26 -0.986988 -0.340693 -0.562243  0.360803
2019-05-27  0.686223 -0.452978  0.067333 -0.040627
2019-05-28  0.958977  0.252265 -0.702492 -0.279572
2019-05-29 -0.939288  0.714727 -1.737568  0.537438
2019-05-30  0.246721 -1.655689 -0.516443  0.070011
2019-05-31 -0.108726  2.107360  0.951517  0.001268
2019-06-01  1.104195 -0.686285  0.856520 -0.185258
2019-06-02  0.260466 -2.452653  1.706336  0.387023
2019-06-03 -0.030295 -0.945219  0.556775 -1.054974

### Sorting by Value

In [48]:
print(df.sort_values('A', axis=0))

                   A         B         C         D
2019-06-03 -1.054974  0.556775 -0.945219 -0.030295
2019-05-28 -0.279572 -0.702492  0.252265  0.958977
2019-06-01 -0.185258  0.856520 -0.686285  1.104195
2019-05-27 -0.040627  0.067333 -0.452978  0.686223
2019-05-31  0.001268  0.951517  2.107360 -0.108726
2019-05-30  0.070011 -0.516443 -1.655689  0.246721
2019-05-25  0.187497  1.122150 -0.988277 -1.985934
2019-05-26  0.360803 -0.562243 -0.340693 -0.986988
2019-06-02  0.387023  1.706336 -2.452653  0.260466
2019-05-29  0.537438 -1.737568  0.714727 -0.939288

In [49]:
print(df.sort_values('20190601', axis=1))

                   C         A         B         D
2019-05-25 -0.988277  0.187497  1.122150 -1.985934
2019-05-26 -0.340693  0.360803 -0.562243 -0.986988
2019-05-27 -0.452978 -0.040627  0.067333  0.686223
2019-05-28  0.252265 -0.279572 -0.702492  0.958977
2019-05-29  0.714727  0.537438 -1.737568 -0.939288
2019-05-30 -1.655689  0.070011 -0.516443  0.246721
2019-05-31  2.107360  0.001268  0.951517 -0.108726
2019-06-01 -0.686285 -0.185258  0.856520  1.104195
2019-06-02 -2.452653  0.387023  1.706336  0.260466
2019-06-03 -0.945219 -1.054974  0.556775 -0.030295

## Applying Functions to a DataFrame

In [50]:
import math
sq_root = lambda x: math.sqrt(x) if x > 0 else x
sq      = lambda x: x**2

In [51]:
print(df.B.apply(sq_root))

2019-05-25    1.059316
2019-05-26   -0.562243
2019-05-27    0.259486
2019-05-28   -0.702492
2019-05-29   -1.737568
2019-05-30   -0.516443
2019-05-31    0.975457
2019-06-01    0.925484
2019-06-02    1.306268
2019-06-03    0.746174
Freq: D, Name: B, dtype: float64

In [52]:
print(df.B.apply(sq))

2019-05-25    1.259221
2019-05-26    0.316117
2019-05-27    0.004534
2019-05-28    0.493495
2019-05-29    3.019143
2019-05-30    0.266713
2019-05-31    0.905385
2019-06-01    0.733627
2019-06-02    2.911583
2019-06-03    0.309998
Freq: D, Name: B, dtype: float64

In [53]:
# df.apply(sq_root)    # ValueError

In [54]:
df.apply(sq)

                   A         B         C         D
2019-05-25  0.035155  1.259221  0.976691  3.943934
2019-05-26  0.130179  0.316117  0.116072  0.974145
2019-05-27  0.001651  0.004534  0.205189  0.470902
2019-05-28  0.078161  0.493495  0.063638  0.919637
2019-05-29  0.288840  3.019143  0.510835  0.882262
2019-05-30  0.004902  0.266713  2.741306  0.060871
2019-05-31  0.000002  0.905385  4.440966  0.011821
2019-06-01  0.034321  0.733627  0.470987  1.219247
2019-06-02  0.149787  2.911583  6.015507  0.067843
2019-06-03  1.112970  0.309998  0.893439  0.000918

In [55]:
for column in df:
    df[column] = df[column].apply(sq_root)
print(df)

                   A         B         C         D
2019-05-25  0.433009  1.059316 -0.988277 -1.985934
2019-05-26  0.600669 -0.562243 -0.340693 -0.986988
2019-05-27 -0.040627  0.259486 -0.452978  0.828386
2019-05-28 -0.279572 -0.702492  0.502260  0.979274
2019-05-29  0.733102 -1.737568  0.845415 -0.939288
2019-05-30  0.264596 -0.516443 -1.655689  0.496710
2019-05-31  0.035609  0.975457  1.451675 -0.108726
2019-06-01 -0.185258  0.925484 -0.686285  1.050807
2019-06-02  0.622112  1.306268 -2.452653  0.510359
2019-06-03 -1.054974  0.746174 -0.945219 -0.030295

In [56]:
print(df.apply(np.sum, axis=0))

A    1.128665
B    1.753438
C   -4.722444
D   -0.185696
dtype: float64

In [57]:
print(df.apply(np.sum, axis=1))

2019-05-25   -1.481886
2019-05-26   -1.289255
2019-05-27    0.594267
2019-05-28    0.499470
2019-05-29   -1.098339
2019-05-30   -1.410826
2019-05-31    2.354015
2019-06-01    1.104747
2019-06-02   -0.013915
2019-06-03   -1.284314
Freq: D, dtype: float64

## Adding and Removing Rows and Columns in a DataFrame

In [58]:
import pandas as pd

data = {'name': ['Janet', 'Nad', 'Timothy', 'June', 'Amy'],
        'year': [2012, 2012, 2013, 2014, 2014],
        'reports': [6, 13, 14, 1, 7]}

df = pd.DataFrame(data, index =
       ['Singapore', 'China', 'Japan', 'Sweden', 'Norway'])
print(df)

              name  year  reports
Singapore    Janet  2012        6
China          Nad  2012       13
Japan      Timothy  2013       14
Sweden        June  2014        1
Norway         Amy  2014        7

### Adding a Column

In [59]:
import numpy as np

schools = np.array(["Cambridge","Oxford","Oxford","Cambridge","Oxford"])
df["school"] = schools
print(df)

              name  year  reports     school
Singapore    Janet  2012        6  Cambridge
China          Nad  2012       13     Oxford
Japan      Timothy  2013       14     Oxford
Sweden        June  2014        1  Cambridge
Norway         Amy  2014        7     Oxford

### Removing Rows

In [60]:
print(df.drop(['China', 'Japan']))  # drop rows based on value of index

            name  year  reports     school
Singapore  Janet  2012        6  Cambridge
Sweden      June  2014        1  Cambridge
Norway       Amy  2014        7     Oxford

In [61]:
print(df[df.name != 'Nad'])         # drop row based on column value

              name  year  reports     school
Singapore    Janet  2012        6  Cambridge
Japan      Timothy  2013       14     Oxford
Sweden        June  2014        1  Cambridge
Norway         Amy  2014        7     Oxford

In [62]:
print(df.drop(df.index[1]))
# same as df.drop['China']

              name  year  reports     school
Singapore    Janet  2012        6  Cambridge
Japan      Timothy  2013       14     Oxford
Sweden        June  2014        1  Cambridge
Norway         Amy  2014        7     Oxford

In [63]:
print(df.drop(df.index[[1,2]]))     # remove the second and third row

            name  year  reports     school
Singapore  Janet  2012        6  Cambridge
Sweden      June  2014        1  Cambridge
Norway       Amy  2014        7     Oxford

In [64]:
print(df.drop(df.index[-2]))        # remove second last row

              name  year  reports     school
Singapore    Janet  2012        6  Cambridge
China          Nad  2012       13     Oxford
Japan      Timothy  2013       14     Oxford
Norway         Amy  2014        7     Oxford

### Removing Columns

In [65]:
print(df.drop('reports', axis=1))   # drop column

              name  year     school
Singapore    Janet  2012  Cambridge
China          Nad  2012     Oxford
Japan      Timothy  2013     Oxford
Sweden        June  2014  Cambridge
Norway         Amy  2014     Oxford

In [66]:
print(df.drop(df.columns[1], axis=1))       # drop using columns number

              name  reports     school
Singapore    Janet        6  Cambridge
China          Nad       13     Oxford
Japan      Timothy       14     Oxford
Sweden        June        1  Cambridge
Norway         Amy        7     Oxford

In [67]:
print(df.drop(df.columns[[1,3]], axis=1))   # drop multiple columns

              name  reports
Singapore    Janet        6
China          Nad       13
Japan      Timothy       14
Sweden        June        1
Norway         Amy        7

### Generating a Crosstab

In [68]:
df = pd.DataFrame(
    {
        "Gender": ['Male','Male','Female','Female','Female'],
        "Team"  : [1,2,3,3,1]
    })
print(df)

   Gender  Team
0    Male     1
1    Male     2
2  Female     3
3  Female     3
4  Female     1

In [69]:
print("Displaying the distribution of genders in each team")
print(pd.crosstab(df.Gender, df.Team))

Displaying the distribution of genders in each team
Team    1  2  3
Gender
Female  1  0  2
Male    1  1  0

In [70]:
print(pd.crosstab(df.Team, df.Gender))

Gender  Female  Male
Team
1            1     1
2            0     1
3            2     0

# &#x1F4DA; References

The equivalent of Python's pandas in Julia is the `DataFrames.jl` package. `DataFrames.jl` provides a comprehensive set of functions for data manipulation, filtering, grouping, and aggregation, similar to what pandas offers in the Python ecosystem. It is designed to work efficiently with tabular data and offers a convenient syntax for data manipulation tasks.

### Key Features of `DataFrames.jl`:

- **DataFrame Objects**: Like pandas DataFrames, `DataFrames.jl` allows for the storage and manipulation of tabular data in rows and columns.
- **Data Manipulation**: Supports a wide range of operations for data manipulation, including filtering, adding/removing columns, merging, joining, grouping, and sorting.
- **Missing Values**: Handles missing values gracefully, similar to pandas.
- **Integration with Other Packages**: Works well with other packages in the Julia Data ecosystem, such as `CSV.jl` for reading and writing CSV files, `JSON.jl` for JSON data, and `SQLite.jl` or `MySQL.jl` for interacting with SQL databases.
- **Performance**: Julia is known for its performance, and `DataFrames.jl` is designed to be fast for various data manipulation tasks, benefiting from Julia's just-in-time (JIT) compilation.

### Getting Started with `DataFrames.jl`:

To start using `DataFrames.jl`, you first need to install the package if you haven't already:

```julia
using Pkg
Pkg.add("DataFrames")
```

Then, you can import the package and start using it:

```julia
using DataFrames

# Creating a DataFrame
df = DataFrame(A = 1:4, B = ["M", "F", "F", "M"])

# Display the DataFrame
println(df)
```

### Example Usage:

Here's a simple example that demonstrates some basic `DataFrames.jl` functionality:

```julia
# Create a new DataFrame
df = DataFrame(Name = ["John", "Jane", "Mary"], Age = [28, 23, 25], Gender = ["M", "F", "F"])

# Add a new column
df[!, :Country] = ["USA", "UK", "USA"]

# Filter rows
filtered_df = filter(row -> row.Age > 24, df)

# Group by and aggregate
grouped_df = groupby(df, :Gender)
aggregate(grouped_df, :Age, mean)
```

This shows how to create DataFrames, add columns, filter data, and perform group-by operations, which are common tasks in data analysis.

`DataFrames.jl` is a powerful tool for data analysis and manipulation in Julia, offering functionalities that are similar to pandas but leveraging Julia's strengths in performance and numerical computation.

In Julia, the equivalent of pandas Series and DataFrames can be found in the `DataFrames.jl` package. While Julia's `DataFrames.jl` directly provides a counterpart to pandas DataFrames, the concept of a Series is handled slightly differently. Here's a breakdown:

### DataFrames

- **Pandas DataFrame in Python**: A two-dimensional, size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). It is one of the most commonly used pandas objects for data manipulation and analysis.
  
- **DataFrame in Julia (`DataFrames.jl`)**: Very similar to pandas DataFrames, Julia's DataFrame is a two-dimensional table whose columns can contain different types of data. It supports a wide range of operations like selection, manipulation, aggregation, and plotting, making it the go-to structure for data analysis tasks in Julia.

### Series

- **Pandas Series in Python**: A one-dimensional array with axis labels, capable of holding any data type. It can be thought of as a column in a DataFrame.

- **Julia Equivalent**: Julia does not have a direct equivalent to a pandas Series as a separate type. Instead, a DataFrame column in Julia, which can be accessed by the column name, serves a purpose similar to a Series. Additionally, for one-dimensional arrays with labels, you might use a combination of Julia's built-in `Array` or `Vector` types along with an index array, or use a `Dict` (dictionary) for labeled data.

Here are examples to illustrate the equivalents:

### Creating a DataFrame

**Python with pandas:**

```python
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': ['a', 'b', 'c']})
print(df)
```

**Julia with `DataFrames.jl`:**

```julia
using DataFrames

df = DataFrame(A = [1, 2, 3], B = ['a', 'b', 'c'])
println(df)
```

### Working with Series-like Data

**Python with pandas:**

```python
import pandas as pd

series = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print(series)
```

**Julia Equivalent (using a Dict):**

```julia
series_dict = Dict('a' => 1, 'b' => 2, 'c' => 3)
println(series_dict)
```

Or, if you are using a DataFrame and accessing a single column:

```julia
using DataFrames

df = DataFrame(A = [1, 2, 3])
println(df.A)  # Accessing column A which acts like a Series
```

In summary, while Julia's approach to handling tabular and labeled data is slightly different, the `DataFrames.jl` package provides functionality that allows Julia to perform data manipulation tasks similar to those in pandas, including handling DataFrame-like structures efficiently.